h1 {
    text-align: center;
    font-size: 11vh;
    color: dodgerblue; 
}

#heading {
    text-decoration: none;
}

#login {
    margin-left: 90%;
    font-size: 3vh;
    
}

.title {
    font-size: 3vh;
    font-size: 3vw;
    text-align: center;
  }

  .direction {
    text-align: left;
    font-size: 1vh;
    font-size: 1vw;
  }