h1 {
    text-align: center;
    text-align: auto;
    font-size: 11vh;
    color:#089cff;  
}

#nonuserheading, #userheading, #heading {
    text-decoration: none;

}

#login {
    margin-left: 90%;
    font-size: 3vh;
    
}

#startnew {
    margin-left: 10%;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.textbox  {
    display: block;
    margin-left: auto;
margin-right: auto;  
    text-align: center;
}

.stars {
    text-align: center;
    cursor:pointer;
}

.checked {
    color:red;
}

.unchecked {
    color:black; 
}

.bg-default {
    color: #7eb1f4;
    background-color: #7eb1f4;
}

body {
    background-color: #b2c6e9;
}

#submit {
    background-color: #dddddd;
}