.title {
    font-size: 12vh;
    font-size: 12vw;
    color:cyan  ;
    text-align: center;
}


.navbar {
    vertical-align: right;
    right: -80vw;
    margin-right: 85vw;
    margin-top: 5vh;
    
}
