 
h1 {
    text-align: center;
    text-align: auto;
    font-size: 11vh;
    color: #089cff; 
}

#heading {
    text-decoration: none;
}

#login {
    margin-left: 90%;
    font-size: 3vh;
    
}

#from {
    float: left;
    margin-left: 15%;
    width: 30vw;
    margin-top: 5vh;
    height: 5vh;
}

#to {
    float: right;
    margin-right: 15%;
    width: 30vw;
    margin-top: 5vh;
    height: 5vh;
}


#menubar {
    margin-top: 1.3vh;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.popup1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 20vw;
    background-color: #dddddd;
    color: black;
    text-align: center;
    border-radius: 0.7vw;
    padding: 1vw 0;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 50%;
    margin-left: -10vw;
  }

  .popup1 .popuptext1 {
    visibility: hidden;
    width: 20vw;
    background-color: #dddddd;
    color: black;
    text-align: center;
    border-radius: 0.7vw;
    padding: 1vw 0;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 50%;
    margin-left: -10vw;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #dddddd transparent transparent transparent;
  }

  .popup1 .popuptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #dddddd transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .popup1 .show1 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* change the color of navigator menu */
  .bg-default {
    color: #7eb1f4;
    background-color: #7eb1f4;
}

/* change the color of the html page */
  body {
      background-color: #b2c6e9;
  }

  #submit {
      background-color: #dddddd;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 10vw;
      width: 10vh;
      margin-top: 50vh;
      margin-left: 0.7%;
      margin-right: 0%;
  }

  #indexSubmit {
    text-align:center;
  }