h1 {
    text-align: center;
    font-size: 11vh;
    color: dodgerblue; 
}

#heading {
    text-decoration: none;
}

#login {
    margin-left: 90%;
    font-size: 3vh;
    
}

.navbar-default {
    color: #7eb1f4;
    background-color: #7eb1f4;
}

body {
    background-color: #b2c6e9;
}

#submit {
    background-color: #dddddd;
}


/* #signintitle {
    text-align: center;
    margin-top: 10%;
    font-size: 6vh;
}

#roomroomrun {
    text-align: center;
    font-size: 8vh;
    margin-top: 6%;
    height: 0.1vh;
}

#signin {
    font-size: 3vh;
    width: 30vw;
    height: 8vh;
    margin-left: 35%;
}

#usernamebox {
    width: 30vw;
    margin-left: 35%;
}

#passwordbox {
    width: 30vw;
    margin-left: 35%;
}

#rememberme {
    width: 30vw;
    margin-left: 35%;
}

#noaccount {
    width: 30vw;
    margin-left: 35%;
    font-size: 2.2vh;
    margin-top: 2%;
}

#nopassword {
    margin-top: -0.8%;
    width: 30vw;
    margin-left: 35%;
    font-size: 2.2vh;
}

#login {
    position: absolute;
    top: 0%;
    right: 10%;

} */

