#afterlogin {
    text-align: right;
    margin-right: 3vw;
    font-size: 3vh;
}

h1 {
    text-align: center;
    font-size: 11vh;
    color: #089cff;  
}

#heading {
    text-decoration: none;
}

#from {
    float: left;
    margin-left: 15%;
    width: 30vw;
    margin-top: 5vh;
    height: 5vh;
}

#to {
    float: right;
    margin-right: 15%;
    width: 30vw;
    margin-top: 5vh;
    height: 5vh;
}

#submit {
    margin-top: 50vh;
    margin-left: 0.7%;
    margin-right: 0%;
    width: 5vw;
    height: 5vh;
}

#menu {
    font-size: 1.5vw;
}

#home {
    font-size: 1.5vw;
}

#savelist {
    font-size: 1.5vw;
}

#issuereport {
    font-size: 1.5vw;
}

.navbar-default {
    color: #7eb1f4;
    background-color: #7eb1f4;
}

body {
    background-color: #b2c6e9;
}


/* #submit {
    background-color: #dddddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 5vw;
    height: 5vh;
    
} */