#afterlogin {
    text-align: right;
    margin-right: 3vw;
    font-size: 3vh;
}

h1 {
    text-align: center;
    font-size: 11vh;
    color: #089cff;  
}

#heading {
    text-decoration: none;
}

#from {
    float: left;
    margin-left: 15%;
    width: 30vw;
    margin-top: 5vh;
    height: 5vh;
}

#to {
    float: right;
    margin-right: 15%;
    width: 30vw;
    margin-top: 5vh;
    height: 5vh;
}

#submit {
    background-color: #dddddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10vw;
    width: 10vh;
    height: 5vh;
    margin-top: 50vh;
    margin-left: 0.7%;
    margin-right: 0%;
    border-radius: 5px;
    border-color: grey;
  }

#submit:hover {
    background-color: grey;
    color: white;
}

.bg-default {
    color: #7eb1f4;
    background-color: #7eb1f4;
}

body {
    background-color: #b2c6e9;
}
